node_modules/
model/
npm-debug.log
yarn-error.log
pnpm-debug.log
package-lock.json
logs/
*.log
*.log.*
logs/*.log
debug.log
error.log
.env
.env.local
.env.development
.env.production
.env.test
.env.*.local
/config/config.json

*.sqlite
*.sqlite3
database.sqlite
database.sqlite3
/seeders/
/db-backups/
*.pgdata
*.sql
tmp/
temp/
.cache/
swagger.json
swagger.yaml
coverage/
.nyc_output/
cypress/videos/
cypress/screenshots/
jest/
test-results/
redis-data/
rabbitmq-data/
/uploads/
.vscode/
*.code-workspace
